.App {
  padding: 60px;
  min-height: 100vh;
}

.container {
  display: block;
  margin: auto 0;
}

.header-playfair {
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.5px;
  font-size: 120px;
  margin: 0;
  flex: 1;
}

.heading-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .App {
    padding: 30px;
  }

  .header-playfair {
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.5px;
    font-size: 40px;
    margin: 0;
  }
}
